// Beauty of CSS Design
$h1-mobile: 35px;

// CSS Zen Garden
$h2-mobile: 30px;

// Section heading
$h3-mobile: 20px;

$p-mobile: 16px;


// Beauty of CSS Design
$h1-medium: 40px;

// CSS Zen Garden
$h2-medium: 35px;

// Section heading
$h3-medium: 25px;

$p-medium: 21px;


// Beauty of CSS Design
$h1-large: 40px;

// CSS Zen Garden
$h2-large: 35px;

// Section heading
$h3-large: 25px;

$p-large: 21px;




// COLORS
$dark-blue: #0081a7;
$blue-green: #00afb9;
$tan: #fff7eb;
$peach: #fed9b7;
$coral: #f07167;
$black: #000000;
$white: #ffffff;
