@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", Helvetica, sans-serif;
}

.intro {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2946&q=80);
  background-repeat: no-repeat;
  background-position: 55% 0%;
  background-size: 150%;
}

header {
  position: relative;
  width: 80%;
  z-index: 1;
}
header h2 {
  font-size: 35px;
  background: #00afb9;
  color: #000000;
  padding: 20px;
}
header h1 {
  background: #fed9b7;
  padding: 30px;
  border-radius: 50%;
  text-align: center;
  width: min-content;
  font-size: 20px;
  position: absolute;
  top: 420px;
  right: -80px;
}

.summary {
  background: #f07167;
  width: 40%;
  height: 440px;
  padding: 15px;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 16px;
}
.summary p:nth-of-type(1) {
  margin-top: 130px;
}

.preamble {
  margin-top: 450px;
}

.preamble h3::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 140px;
  margin-top: -80px;
  width: 0;
  height: 0;
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
  border-right: 110px solid #fff7eb;
}
.preamble h3 {
  font-size: 20px;
  height: 50px;
  background-color: #f07167;
  width: 120px;
  margin-bottom: -20px;
  margin-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  z-index: 3;
  text-align: center;
}
.preamble p {
  font-size: 16px;
  position: relative;
  grid-column: 1/4;
  background-color: #00afb9;
  margin: 0;
  padding: 10px 30px 10px 30px;
  color: #ffffff;
  z-index: -1;
  margin: -1px 15px 0 15px;
}
.preamble p:first-of-type {
  padding-top: 30px;
}
.preamble p:last-of-type {
  padding-bottom: 30px;
}

.explanation h3 {
  font-size: 20px;
  height: 50px;
  background-color: #0081a7;
  width: 200px;
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: -10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  text-align: center;
  color: white;
}
.explanation p {
  font-size: 16px;
  position: relative;
  grid-column: 1/4;
  background-color: #fff7eb;
  margin: 0;
  padding: 30px 10px 10px 30px;
  color: black;
  margin-right: 15px;
  margin-left: 15px;
  z-index: -1;
}
.explanation p:nth-of-type(2)::after {
  content: "";
  position: absolute;
  left: -23px;
  bottom: -65px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #00afb9;
}
.explanation p:nth-of-type(2) {
  padding-bottom: 45px;
}

.design-selection,
.design-archives,
.zen-resources {
  background: #fed9b7;
  padding: 10px 25px;
}
.design-selection ul,
.design-archives ul,
.zen-resources ul {
  padding-left: 20px;
  margin-top: -15px;
}
.design-selection a,
.design-archives a,
.zen-resources a {
  text-decoration: none;
  color: #000000;
}

.design-selection,
.design-archives {
  margin-bottom: -20px;
}

.zen-resources {
  position: relative;
  padding-bottom: 70px;
}
.zen-resources ul::after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 60px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #0081a7;
}
.zen-resources li:nth-of-type(5)::after {
  content: "";
  position: absolute;
  right: 18px;
  bottom: 27px;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 110px solid #fff7eb;
}

.participation p {
  font-size: 16px;
  position: relative;
  background-color: #f07167;
  margin: -1px;
  padding: 10px 30px 10px 30px;
  color: #000000;
  z-index: -2;
  margin-right: 10px;
  margin-left: 55px;
  width: 60%;
}
.participation p:first-of-type {
  padding-top: 110px;
  margin-top: 30px;
  height: 250px;
}
.participation p:nth-of-type(2) {
  height: 150px;
}
.participation p:last-of-type {
  padding-bottom: 40px;
  height: 250px;
}
.participation h3 {
  position: absolute;
  right: 0;
  font-size: 20px;
  padding: 20px;
  float: right;
  background-color: #0081a7;
  color: #ffffff;
  text-align: center;
  width: 50%;
}

.participation::before {
  content: "";
  position: absolute;
  margin-top: 50px;
  width: 50%;
  height: 830px;
  background-color: #0081a7;
  padding-left: 100px;
  margin-left: 20px;
  z-index: -3;
}

.requirements {
  position: relative;
}
.requirements h3 {
  font-size: 20px;
  height: 50px;
  background-color: #f07167;
  width: 200px;
  margin: 20px auto -100px -20px;
  padding: 30px 20px 0px 20px;
  z-index: 2;
  text-align: center;
  color: black;
}
.requirements p {
  font-size: 16px;
  position: relative;
  grid-column: 1/4;
  background-color: #00afb9;
  margin: -5px;
  padding: 10px 30px 10px 30px;
  color: black;
  margin-right: 15px;
  margin-left: 15px;
  z-index: -1;
}
.requirements p:nth-of-type(1) {
  padding-top: 120px;
}
.requirements p:last-of-type {
  padding-bottom: 50px;
}

footer {
  font-size: 13px;
  height: 20px;
  background-color: #fff7eb;
  width: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 220px;
  margin-right: 5px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: -1;
  text-align: center;
  color: black;
}

.benefits {
  background-color: #fff7eb;
  color: #00afb9;
  border-radius: 50%;
  padding: 40px;
  height: 280px;
  width: 280px;
  margin: 90px 0 40px 90px;
  line-height: 20px;
  font-size: 16px;
}
.benefits p {
  text-align: center;
}
.benefits h3 {
  text-align: center;
  font-size: 30px;
}

/* 

MEDIUM MEDIA QUERY

*/
@media only screen and (min-width: 700px) {
  .preamble {
    max-width: 97%;
    margin-right: auto;
    margin-left: auto;
  }
  .participation p {
    width: 75%;
    margin-left: 100px;
    padding: 0px 30px 5px 30px;
    height: 30px;
  }
  .participation p:first-of-type {
    height: 120px;
  }
  .participation p:nth-of-type(2) {
    height: 120px;
  }
  .participation p:last-of-type {
    padding-bottom: 40px;
    height: 100px;
  }
  .participation::before {
    margin-left: 30px;
    width: 70%;
    height: 500px;
  }
  .benefits {
    background-color: #fff7eb;
    color: #00afb9;
    border-radius: 50%;
    padding: 10px;
    height: 480px;
    width: 480px;
    margin: 80px 0 40px 190px;
  }
  .benefits p {
    padding-top: 40px;
    width: 400px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits h3 {
    padding-top: 40px;
    margin-bottom: 10px;
  }
  .requirements {
    position: relative;
  }
  .requirements h3 {
    padding-top: 30px;
    margin-bottom: -110px;
  }
  .requirements p:nth-of-type(1) {
    padding-top: 160px;
  }
  .requirements p {
    margin-right: 135px;
    margin-left: 55px;
  }
  .requirements p:nth-of-type(1) {
    padding-top: 135px;
  }
  .explanation h3 {
    font-size: 20px;
    height: 35px;
    background-color: #0081a7;
    width: 250px;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: -10px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    text-align: center;
    color: white;
  }
  .explanation p {
    font-size: 16px;
    position: relative;
    grid-column: 1/4;
    background-color: #fff7eb;
    margin: 0;
    padding: 30px 10px 10px 30px;
    color: black;
    margin-right: 15px;
    margin-left: 15px;
    z-index: -1;
  }
  .explanation p:nth-of-type(2)::after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: -65px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #00afb9;
  }
  .explanation p:nth-of-type(2) {
    padding-bottom: 45px;
  }
  .intro {
    background-size: 120%;
    max-width: 100%;
  }
  header {
    width: 85vw;
    margin: 0 auto;
  }
  header h1 {
    padding: 40px;
    right: -30px;
    top: 400px;
    font-size: 1.7rem;
  }
  header h2 {
    position: relative;
    padding-left: 50px;
    margin-top: 40px;
    font-size: 2.4rem;
  }
  .summary {
    height: 480px;
    right: 50px;
    width: 30%;
    font-size: 1.3rem;
  }
  .summary p:nth-of-type(1) {
    margin-top: 90px;
  }
  .sidebar {
    position: absolute;
    top: 800px;
    right: 10px;
    width: 35%;
    margin: 0 auto;
  }
  .sidebar .design-selection::before {
    content: "";
    position: absolute;
    right: 25px;
    top: -150px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #0081a7;
  }
  .sidebar .design-selection li:nth-of-type(1)::before {
    content: "";
    position: absolute;
    right: 35px;
    top: -100px;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 90px solid #fff7eb;
  }
  .design-selection,
  .design-archives,
  .zen-resources {
    font-size: 1rem;
  }
  .design-selection h3,
  .design-archives h3,
  .zen-resources h3 {
    margin-top: 15px;
  }
  .zen-resources {
    padding-bottom: 15px;
  }
  .zen-resources li:nth-of-type(5)::after {
    display: none;
  }
  .zen-resources ul::after {
    display: none;
  }
}
/* 

LARGE MEDIA QUERY

*/
@media only screen and (min-width: 1000px) {
  .participation {
    margin-left: 200px;
    margin-top: 100px;
  }
  .participation h3 {
    width: 30%;
  }
  .participation::before {
    width: 55%;
  }
  .explanation p:nth-of-type(2)::after {
    display: none;
  }
  .benefits {
    margin-left: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
